img {
  width: 200px;
  width: 200px;
  border: 3px solid darkgreen;
  border-radius: 50%;
  transition: all 3s ease;
  position: absolute;
  bottom: 0;
  left: 800px;
}
img:hover {
  transform: scale(2) translate(50%, -50%);
  transition: all 3s ease;
  transition-delay: 2s;
}
div {
  background-color: darkkhaki;
  height: 200px;
  width: 400px;
}
