@keyframes moveImg {
  0% {
    transform: translate(0, 0) rotateZ(90deg);
  }
  50% {
    transform: translate(300px, 0) rotateZ(90deg);
  }
  51% {
    transform: translate(300px, 0) rotateZ(180deg);
  }
  100% {
    transform: translate(300px, 300px) rotateZ(180deg);
  }
}
img {
  width: 200px;
  height: 200px;
  border: 3px solid darkolivegreen;
  border-radius: 50%;
  animation: moveImg 3s ease infinite;
}
